/* Couleurs du site*/
$qa_blue: #4A949E;
$qa_orange: #E69000;
$qa_background: #F0F0F4;
$qa_dark_grey: #2B303C;
$qa_light_grey: #5B5B66;

$primary: $qa_blue;
$secondary: $qa_orange;
$tertiary: $qa_background;


//Mixin

@mixin qa_up {
  font-family: Garamond !important;
  text-transform: uppercase;
}

