{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}


    <div class="container">

        {% if  message != null %}
            <div class="message succes m-5">
                <p class="message_text bold">{{ message }}</p>
            </div>
        {% endif %}


        <h1>Réservation</h1>

        <p>Afin d'être certain d'avoir une place dans notre restaurant, prenez 5 minutes pour réserver votre table.</p>
        <p>Tout sera ainsi près pour vous à votre arrivée.</p>

        <h2 class="title">Formulaire de réservation</h2>

        {{ form_start(form) }}

            {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary mb-5 text-light" value="Réserver">

        {{ form_end(form) }}


    </div>




{% endblock %}
